#mblMain {
  background-color: #f5f0e8;
}

.topcoat-text-input:focus {        
    border: 1px solid #b3b3b3;
    background-color: #FFF;
}

.badge1 {
   position:relative;
}
.badge1[data-badge]:after {
   content:attr(data-badge);
   position:absolute;
   top:12px;
   right:-15px;
   font-size:.7em;
   background:green;
   color:white;
   width:18px;height:18px;
   text-align:center;
   line-height:18px;
   border-radius:50%;
   box-shadow:0 0 1px #333;
}

.left .topcoat-navigation-bar__button {
	left: 2px;
}

.right .topcoat-navigation-bar__button {
	right: 10px;
}

.productInfo {
	font-weight: bold;
	display: inline-block;
}

.productPrice {
	color: red;
	font-size: 0.9em;
}

#mblSlideMenuRightWrapper {
	top: 39px;
}

#shoppingCart .topcoat-list__header {
	text-align: center;
	font-weight: bold;
	background-color: #059;
	color: #fff;
	text-shadow: none;
}

#shoppingCart .topcoat-list__header span {
	font-size: 1.2em;
}

#shoppingCart .productInfo {
	width: 50%;
}

#shoppingCart input.itemQuantity {
	width: 40px;
}

#shoppingCart .itemRemove {
	display: inline-block;
	padding: 10px;
}

#userAuth {
	text-align: center;
	padding: 10px;
}

#userAuth .topcoat-button, #userAuth .topcoat-button--cta {
	width: 70%;
}

#userLogin {
	text-align: center;
}

#userLogin input {
	width: 100%;
}

#userLogin .topcoat-button--cta {
	width: 100%;
}

#userLogin #authMessage {
	color: red;
	margin-bottom: 5px;
}

#userMenu .topcoat-list__header {
	text-align: center;
	font-weight: bold;
	background-color: #059;
	color: #fff;
	text-shadow: none;
}

#userMenu .topcoat-list__header span {
	font-size: 1.2em;
}

#showcase .productInfo {
	width: 80%;
}

#register {
	padding: 10px;
}

#register input {
	width: 100%;
}

#register .topcoat-button--cta {
	width: 100%;
}

#register #authMessage {
	margin-bottom: 5px;
	color: #ec514e;
}

#checkout #checkoutheader {
	padding-left: 10px;
	padding-right: 10px;
}

#checkout #lists {
	/* width: 50%; */
}

#checkout #addressinfo, #checkout #paymentmethodinfo, #checkout #shoppingcartinfo {
	padding: 10px;
}

#checkout input.installments {
	width: 40px;
}

#checkoutheader #authMessage {
	margin-bottom: 5px;
	color: #ec514e;
}

#checkout .topcoat-list__header {
	margin-top: 5px;
}

#checkout .topcoat-list__item, #checkout .topcoat-list__header {
	padding: 0.75rem;
}

#checkout .topcoat-list__item.selected {
	background-color: #4ca1e4;
}